{% extends 'lensoadmin/adminbase.html' %}
{% load static %}
{% block content %}


   
<!-- ========================= SECTION CONTENT ========================= -->

	<main class="col-md-12">
        <form method='POST' action="{% url 'add_products' %}" enctype="multipart/form-data" class="m-5">
            {% csrf_token %}
		<article class="card" >
		<header class="card-header">
			<strong class="d-inline-block mr-3">logged as:</strong>
			<span>{{user.first_name }}</span>
		</header>
        <div class="row p-3 ">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Billing name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Order total</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                  <tr>
                    <th scope="row">1</th>
                    <td></td>
                        {% comment %} <a href="{% url 'order_detail' order.order_number %}"></a></td> {% endcomment %}
                    <td>{{order.first_name}}</td>
                    <td>{{order.phone}}</td>
                    

                     <td><a href="single_order_details/{{order.order_number}}/" >{{order.order_number}}</a></td>
                     {% comment %} <td><a href="{% 'order_summery' order.order_number %}">{{order.order_number}}</a></td> {% endcomment %}

                    <td>{{order.created_date}}</td>

                  </tr>
                  {% endfor %}
                 
                </tbody>
              </table>
        </diiv>
            
		<div class="table-responsive">
		
		</div> <!-- table-responsive .end// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>
<button type="submit" class="btn btn-primary">Save</button>
</form> 

</section>
   


{% endblock %}

