{% extends 'mkhome/userprofilebase.html' %} 
{% load static %}
{% block content %}

<div class="col-lg-9 " >
    <div class="  px-2" >
        <div class="ordercard-header bg-white">
          <div class="row justify-content-between">
            <div class="col">
                <p class="text-muted"> Order ID  <span class="font-weight-bold text-dark">{{order.order_number}}</span></p> 
                <p class="text-muted"> Place On <span class="font-weight-bold text-dark">{{order_status.order_confirmed_date}}</span> </p></div>
                <div class="flex-col my-auto">
                    <h6 class="ml-auto mr-3">
                       
                    </h6>
                </div>
          </div>
        </div>
        {% for products in products  %}
        <div class="ordercard-orderbody">
            <div class="media flex-column flex-sm-row">
                <div class="media-orderbody ">
                    <h5 class="bold"></h5>
                    <p class="text-muted"> Qt: {{products.quantity}} Pair</p>
                    <h4 class="mt-3 mb-4 bold"> <span class="mt-5">&#x20B9;</span> {{products.product.price}} <span class="small text-muted"> via (COD) </span></h4>
                    <p class="text-muted bold " >Tracking Status on: <span class="orderToday" style="color:green;">{{order_status.delivered_date}}</span></p>
                   
                </div><img class="align-self-center img-fluid ml-5 " src="{{products.product.images.url}}" width="180 " height="180">
            </div>
        </div>
        {% endfor %}
       
    </div>
</div>



{% comment %} <p>
    {{order_status.order_confirmed}}
    {{order.first_name}}
</p> {% endcomment %}
{% endblock %}