{% load static %}
<!DOCTYPE html>   
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'D:\8thweek\miniproject\moksha\mkhome\static\greatkartcss\vendor\fontawesome-free\css\all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'D:\8thweek\miniproject\moksha\mkhome\static\greatkartcss\css\sb-admin-2.min.css' %}" rel="stylesheet">

</head> 
<body class="bg-light">

    <div class="container">
        {% include 'alert.html' %}
        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-center">
                            {% comment %} <div class="col-lg-6 d-none d-lg-block bg-dark"></div> {% endcomment %}
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 text-dark mb-4">RESET YOUR PASSWORD</h1>
                                    </div>
                                    <form class="user" method='POST' action="{% url 'resetpassword' %}">
                                        {% csrf_token %}
                                        {% if messages %}
                
                                        {% for message in messages %}
                                         <div id='message' class='container'>
                                          <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %} role="alert">
                                           <button type='button' class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span></button>
                                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                                             {{ message }}
                                           </div>
                                          </div>
                                            {% endfor %}
                                            </ul>
                                           {% endif %}
                                        <div class="form-group">
                                            <input type="pssword" name='password' class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="create password">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" name='confirm_password' 
                                            class="form-control form-control-user"
                                                id="exampleInputPassword" placeholder="confirm_Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div>
                                        <button class="btn btn-dark btn-block btn-user fa-lg gradient-custom-2 mb-3" type="submit">Rest</button>
                                        
                                       
                                       
                                    </form>
                              
                                   
                                    <div class="text-center">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

 